.imgWrap {
    width: 45%;
}

.navimg {
    width: 60%;
    margin: 10px;
}

.navimg:hover {
    transition: all .5s ease-out;
    width: 61%;
}

.navbar-toggler {
    background: #1b9fbd;
}

.navbar-toggler-icon {
    filter: invert(1);
}

.navFull {
    border-bottom: 2px solid lightgray;
    padding-bottom: 15px;
}

.navWrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeIcon {
    font-size: 22px;
    margin-right: 3px;
}

.navItem {
    font-size: 22px;
    color: white;
    margin: 0 25px 0 25px;
}

.navItem:hover {
    transition: all .25s ease-out;
    color: #1b9fbd;
    border-bottom: 1px solid #1b9fbd;
}

.socials {
    color: #c0bfbf;
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.socials:hover {
    transition: all .5s ease-out;
    color: #1b9fbd;
}


@media (max-width: 1300px) {

    .navWrap {
        justify-content: right;
    }

    .navItem {
        margin: 15px;
        font-size: 17px;
    }

    .imgWrap {
        width: 38%;
    }
}

@media (max-width: 992px) {

    .imgWrap {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .navimg {
        left: 0;
        width: 35%;
        justify-content: center;
        border: 2px solid white;
        border-radius: 30px;
        padding: 10px;
    }

    .navimg:hover {
        width: 42%;
    }

    .navItem {
        margin: 5px;
        font-size: 20px;
    }

    .socials {
        margin: 5px 10px 0 10px;
    }
}

@media (max-width: 600px) {

    .navimg {
        width: 60%;
        justify-content: center;
    }

    .socials {
        font-size: 25px;
        margin: 0 5px 0 5px;
    }
}

@media (min-width: 992px) {
    .navWrap {
        height: 125px;
    }

    .socials {
        color: #c0bfbf;
        font-size: 25px;
    }
}